<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CryptoPython</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: #f4f4f4;
        }
        h1 {
            color: #2c3e50;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            margin: 10px 0;
        }
        a {
            text-decoration: none;
            color: #2980b9;
        }
        a:hover {
            color: #3498db;
        }
    </style>
</head>
<body>
    <h1>Bienvenue dans votre atelier CryptoPython !</h1>
    <p>Choisissez une option :</p>
    <ul>
        <li><a href="/exercices">Exercice 1 : Première page HTML</a></li>
        <li><a href="/template_la_maison_a_chier"> template_la_maison_a_chier</a></li>
        <li><a href="/trefle"> trefle </a></li>
        <li><a href="/jeu_de_des"> jeu_de_des</a></li>
     

        
    </ul>
</body>
</html>
